{% extends "base.html" %}

{% block title %}
Create products
{% endblock title %}

{% block content %}
<h1>Create new products</h1>
<div class="mb-10">
    <form action="/products" method="post">
        <div class="mb-5">
        <div>
            <label>title</label>
            <br />
            <input id="title" name="title" type="text" value="" required/>
            </div>
        <div>
            <label>excerpt</label>
            <br />
            <input id="excerpt" name="excerpt" type="text" value=""/>
            </div>
        <div>
            <label>status</label>
            <br />
            <input id="status" name="status" type="text" value=""/>
            </div>
        <div>
            <label>product_type</label>
            <br />
            <input id="product_type" name="product_type" type="text" value=""/>
            </div>
        </div>
        <div>
            <button class=" text-xs py-3 px-6 rounded-lg bg-gray-900 text-white" type="submit">Submit</button>
        </div>
    </form>
<br />
<a href="/products">Back to products</a>
</div>
{% endblock content %}